.border {
    border: 1px dashed rgb(247, 7, 7);
}

* {
    box-sizing: border-box;
}

html{
    background: #fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: auto;
}


.wrapper { /*App*/
    width: 100%;
    max-width: 1920px;
    min-width: 770px;
}

.forest {
    background-image: url("./imgs/Background-1-desk.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-wrap {
    width: 100%;
}

header {
    margin: auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: #f1f1f1;
    max-width: 600px;
    margin-top: 40px;
}

header ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

header li {
    display: block;
    font-size: 24px;
}

hr {
    margin-top: 40px;
    margin-bottom: 0px;
    width: 95%;
}

.scroll-arrow {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 53px;
}

.scroll-text {
    -webkit-animation: scroll-text 3s linear infinite;
    animation: scroll-text 3s linear infinite;
}

@-webkit-keyframes scroll-text {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgb(190, 183, 180); }
    100% { color: rgb(255, 255, 255); }
  }
  @keyframes scroll-text {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgb(190, 183, 180); }
    100% { color: rgb(255, 255, 255); }
  }

.arrow {
    margin: auto;
    margin-top: 25px;
    width: 32px;
    height: 32px;
}

.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
	font-family: 'NextaLight'; 
	src: url(fonts/nexa-light.otf); 
}

.about header {
    font-family: 'NextaLight';
    font-size: 24px;
    color: #d6d6d6;
}

.about hr {
    height: 1px;
    border: 0;
    background-color: #bebebe;
}

.about-content {
    display: flex;
    margin-top: 75px;
    align-items: center;
    margin-bottom: 80px;
}

.text-content {
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
}

.text-content h3 {
    font-weight: normal;
    font-size: 60px;
}

.text-content p {
    font-size: 24px;
    font-weight: 300;
    line-height: 2;
}

p.sign {
    font-size: 36px; 
    font-weight: normal;
    margin-bottom: 0;
}

@media screen and (max-width: 1040px) {
    .photo img {
        width: 600px;
    }
}

@media screen and (max-width: 770px) {
    .photo img {
        width: 100%;
    }

    .about-content {
        flex-wrap: wrap;
        margin-bottom: 45px;
    }
    hr {
        width: 100%;
    }
    .scroll-arrow.f {
        display: none;
    }

    .wrapper {
        min-width: 321px;
    }
}

