.arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.slider {
    display: flex;
    align-items: center;
}

.scroller {
    display: flex;
    overflow: hidden;
    width: 390px;
}

ul {
  bborder: 1px solid black;  
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: flex;
  left: 0px;
  transition: all 1s ease-out;
}

ul img {
  width: 130px;
  height: 130px;
  bborder: 1px dotted blue;
}

ul {
    
}