.header {
    display: flex;
    height: 85px;
    box-shadow: -2px -2px 17px 3px rgba(34, 60, 80, 0.2);
}

.headerAdaptive {
    height: 65px;
}

.desktopMenu {
    display: flex;
    align-items: center;
    width: 33.33%;
    padding-left: 30px;
    justify-content: space-around;
}

.adaptiveMenu {
    display: flex;
    width: 33.33%;
}

.burger {
    width: 25px;
    margin-left: 15px
}

.logo {
    display: flex;
    align-items: center;
    width: 33.33%;
    font-size: var(--font-size_4xl);
    justify-content: center;
    font-weight: var(--bold-text);
}

.info {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 33.33%;
    padding-right: 30px;
}

.menuItem {
    font-size: var(--font-size_m);
}

.cartItem {
    font-size: var(--font-size_xs);
}

/* Для узких компов */
@media (max-width: 850px) { 
    .desktopMenu, .info {
        padding-left: 12px;
        padding-right: 12px;
    }

    .desktopMenu {
        justify-content: space-between;
    }
}

