/*Рамки--------*/
.dialogs{
    border: 1px solid black;

}
.dialogsItems {
    border: 1px solid rgb(250, 3, 3);
}

.messages {
    border: 1px solid rgb(3, 49, 255);
}
/*----------*/

.dialogs {
    display: flex;
}

.dialogsItems {
    width: 18%;
    min-width: 100px;
    padding: 10px;
}

.dialog {

}

.dialog.active {
    color: rgb(119, 116, 116);
}

.messages {
 flex-grow: 1;
 padding: 10px;
}

.message {

}