.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: overlay;
    background-size: cover;

}

.title, .subTitle {
    align-self: center;
    color: white;
    text-align: center;
}

.title {
    margin-top: 15%;
}

.subTitle {
    margin-top: 5%;
    font-size: var(--font-size_2xl);
    width: 80%;
    font-weight: bold;
    max-width: 925px;
}

/* Для узких компов */
@media (max-width: 1200px) {
    .container {
        background-position: center center;
    }
}